/* LARGE SCREEN */

#logo {
  width: 150px;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;
  height: 85px;
  z-index: 10;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
  color: var(--action-color);
  font-weight: bold;
}

#largeScreenNav a{
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 10px;
  transition: 0.3s all ease;
  border: 2px solid transparent;
}

#largeScreenNav a:hover {
  background-color: var(--action-color);
  color: var(--accent-color);
}

#largeScreenNav a.active {
  background-color: var(--action-color);
  color: var(--accent-color);
}

#contact {
  border-color: var(--action-color) !important;
}

/* SMALL SCREEN */

@media (width <= 1200px) {
  #logoNav {
    margin: auto;
  }

  #logo {
    margin: 0px;
  }
}

#smallScreenNav {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  font-size: 20px;
  padding: 30px;
  row-gap: 10px;
  transform-origin: right;
  margin-top: 85px;
  z-index: 10;
}

#smallScreenNav a {
  color: var(--accent-color);
  transition: 0.3s all ease;
}

#smallScreenNav a:hover {
  color: var(--action-color);
}

#smallScreenNav a.active {
  color: var(--action-color);
}

hr {
  border-color: var(--action-color);
  margin-bottom: 40px;
}

/* MENU ICON */

#menu {
  background: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#menu .line {
  fill: var(--action-color);
  transition: y 0.15s ease 0.15s, rotate 0.15s ease, opacity 0s 0.15s;
  -webkit-transition: y 0.15s ease 0.15s, rotate 0.15s ease, opacity 0s 0.15s;
  transform-origin: center;
  -webkit-transform-origin: center;
}

#menu[aria-expanded="true"] .line {
  transition: y 0.15s ease, rotate 0.15s ease 0.15s, opacity 0s 0.15s;
  -webkit-transition: y 0.15s ease, rotate 0.15s ease 0.15s, opacity 0s 0.15s;
}

#menu[aria-expanded="true"] :is(#top, #bottom) {
  y: 45px;
}

#menu[aria-expanded="true"] #top {
  rotate: 45deg;
}

#menu[aria-expanded="true"] #middle {
  opacity: 0;
}

#menu[aria-expanded="true"] #bottom {
  rotate: -45deg;
}