<footer>
  <div id="footerContainer">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" id="newsletter">
      <h2>Newsletter Signup</h2>
      <input 
        type="text" 
        placeholder="Name" 
        ngModel 
        name="name" 
        required>
      <input 
        type="email" 
        placeholder="Email" 
        ngModel 
        name="email" 
        email
        required>
      <button id="subscribeBtn" type="submit">Subscribe</button>
    </form>
    <div id="sitemap">
      <h2>Sitemap</h2>
      <a routerLink="home">Home</a>
      <a routerLink="about-us">About Us</a>
      <a routerLink="services">Services</a>
      <a routerLink="faq">FAQ</a>
      <a routerLink="careers">Careers</a>
      <a routerLink="contact-us">Contact Us</a>
    </div>
    <div id="socials">
      <img id="logo" src="favicon.ico" alt="website logo">
      <div id="socialsContainer">
        <button class="social"><img src="assets/linkedin.svg" alt="linkedin icon"></button>
        <button class="social"><img src="assets/instagram.svg" alt="instagram icon"></button>
        <button class="social"><img src="assets/x.svg" alt="x icon"></button>
      </div>
    </div>
  </div>
  <p id="copyright">© 2024 Future Foundry. All Rights Reserved.</p>
</footer>
<app-pop-up #popUp [text1]="popUpText1" [text2]="popUpText2" [ngClass]="showPopUp ? 'popUpOn' : 'popUpOff'"></app-pop-up>