<app-section-header [title]="title"></app-section-header>
<section>
  <h1>What We Do</h1>
  <div class="about-wrapper">
    <img src="assets/aboutus-image1.jpg" alt="image of the team working together"> 
    <div class="text">
      <p>
        <span>At Future Foundry</span>, our mission is to revolutionize the way industries access 
        software expertise. We specialize in connecting businesses with the right software 
        solutions and talent to drive innovation and growth. Whether you're a startup 
        looking to build your tech team, or an established corporation seeking specialized 
        development skills, we've got you covered.
      </p>
      <p>
        <span>Objective:</span> Our objective is simple - to bridge the gap between industries and 
        technology by providing seamless access to top-tier software professionals. We 
        believe that every business, regardless of size or industry, deserves access to 
        the expertise needed to thrive in today's digital landscape.
      </p>
      <p>
        <span>How We Do It:</span> Through our open-source platform, we've created a dynamic marketplace 
        where businesses can easily find and hire software developers, engineers, and other 
        tech specialists. Our curated network of professionals spans a wide range of expertise, 
        ensuring that our clients receive tailored solutions to meet their unique needs. From 
        front-end development to AI integration, we empower businesses to harness the full 
        potential of technology to drive success.
      </p>
    </div>
  </div>
</section>
<section>
  <h1>Our Story</h1>
  <div class="about-wrapper reverse">
    <img src="assets/aboutus-image2.jpg" alt="image of the team together"> 
    <div class="text">
      <p>
        <span>Founded in 2011</span>, Future Foundry began as a vision to democratize access to software 
        expertise. Our journey started with a small team of passionate technologists determined 
        to make a difference in the world of software development. Fueled by a shared belief in 
        the power of technology to transform industries, we set out to build a platform that 
        would connect businesses with the talent they needed to succeed.
      </p>
      <p>
        <span>From humble beginnings</span>, we've grown into a global force for innovation, serving clients 
        across industries and continents. Along the way, we've faced challenges and obstacles, 
        but each one has only strengthened our resolve to fulfill our mission. Through dedication, 
        hard work, and a relentless commitment to excellence, we've earned the trust of businesses 
        around the world and established ourselves in the field of software outsourcing.
      </p>
      <p>
        <span>Today</span>, as we look to the future, we remain committed to our founding principles of 
        transparency, integrity, and innovation. We're excited to continue our journey, 
        partnering with businesses to unlock new possibilities and shape a brighter 
        tomorrow through technology.
      </p>
    </div>
  </div>
</section>