<app-section-header [title]="title"></app-section-header>
<div class="service">
  <div class="serviceWrapper">
    <img src="assets/service1.png" alt="front-end image">
    <div class="description">
      <h1>Front-End</h1>
      <p>
        Our front-end development team specializes in crafting captivating 
        user interfaces that not only look stunning but also offer seamless 
        navigation and functionality. We understand the importance of creating 
        a visually appealing and intuitive experience for your users. 
      </p>
      <p>
        From responsive design that adapts flawlessly to various devices to 
        interactive elements that engage and delight, we're here to bring 
        your digital vision to life.
      </p>
    </div>
  </div>
</div>
<div class="service alt-bg">
  <div class="serviceWrapper reverse">
    <img src="assets/service2.png" alt="back-end image">
    <div class="description">
      <h1>Back-End</h1>
      <p>
        In today's digital landscape, a robust back-end infrastructure is crucial 
        for ensuring the seamless functionality and performance of your applications 
        and systems. Our back-end development team specializes in building scalable, 
        secure, and efficient solutions that power your business operations. 
      </p>
      <p>
        From database management to server-side scripting and API integrations, we handle 
        the technical complexities behind the scenes, allowing you to focus on your 
        core business objectives.
      </p>
    </div>
  </div>
</div>
<div class="service">
  <div class="serviceWrapper">
    <img src="assets/service3.jpg" alt="full stack image">
    <div class="description">
      <h1>Full Stack</h1>
      <p>
        Our full stack developers are versatile experts capable of handling both front-end 
        and back-end development tasks, providing you with solutions from 
        start to finish. With proficiency in a wide range of programming languages, 
        frameworks, and technologies, we offer end-to-end services tailored 
        to your specific project requirements. 
      </p>
      <p>
        From conceptualization and design to implementation and deployment, we ensure 
        that every aspect of your digital product is meticulously crafted and seamlessly 
        integrated.
      </p>
    </div>
  </div>
</div>
<div class="service alt-bg">
  <div class="serviceWrapper reverse">
    <img src="assets/service4.avif" alt="machine learning image">
    <div class="description">
      <h1>Machine Learning</h1>
      <p>
        Unlock the full potential of your data with our machine learning solutions. 
        Our team of AI experts specializes in harnessing advanced algorithms and predictive 
        analytics to extract valuable insights, automate processes, and drive innovation in 
        your business.
      </p>
      <p>
        From data preprocessing and model training to deployment and optimization, we guide 
        you through every step of the machine learning journey, empowering you to stay ahead 
        of the competition in today's data-driven world.
      </p>
    </div>
  </div>
</div>
<div class="service">
  <div class="serviceWrapper">
    <img src="assets/service5.png" alt="ui/ux image">
    <div class="description">
      <h1>UI/UX</h1>
      <p>
        Our UI/UX design team combines creativity and usability to deliver visually stunning 
        and intuitive interfaces that captivate users and elevate your brand. We start by 
        gaining a deep understanding of your target audience, allowing us to design solutions 
        that resonate with your users on a profound level.
      </p>
      <p> 
        Whether you're launching a new website, mobile app, or enterprise software, we're 
        here to transform your vision into a memorable and meaningful user experience.
      </p>
    </div>
  </div>
</div>
<div class="service alt-bg">
  <div class="serviceWrapper reverse">
    <img src="assets/service6.jpg" alt="team as a service image">
    <div class="description">
      <h1>Team as a service</h1>
      <p>
        Finding and assembling a skilled tech team can be a daunting task. That's 
        where our 'Team as a Service' model comes in. We offer you flexible access 
        to a dedicated team of experienced professionals who seamlessly integrate 
        with your existing workflows, providing you with the expertise and resources 
        you need to bring your projects to life. 
      </p>
      <p>
        With our 'Team as a Service' model, you can scale your resources up or down as 
        needed, ensuring timely delivery and project success without the hassle of 
        recruitment or overhead costs.
      </p>
    </div>
  </div>
</div>
<h1 id="formTitle">Start Your Project Today</h1>
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <label for="name">Name</label>
  <input 
    type="text"
    id="name"
    ngModel
    name="name"
    placeholder="John Doe"
    required>
  <label for="email">Email</label>
  <input 
    type="email"
    id="email"
    ngModel
    name="email"
    placeholder="example@gmail.com"
    required>
  <label for="select">Service</label>
  <select id="select">
    <option value="Front-End">Front-End</option>
    <option value="Back-End">Back-End</option>
    <option value="Full Stack">Full Stack</option>
    <option value="Machine Learning">Machine Learning</option>
    <option value="UI/UX">UI/UX</option>
    <option value="Team As A Service">Team As A Service</option>
  </select>
  <label for="message">Message</label>
  <textarea
    id="message"
    ngModel
    name="message"
    cols="30" 
    rows="10"
    placeholder="Message..."></textarea>
  <button type="submit">Submit</button>
</form>