<app-section-header [title]="title"></app-section-header>
<div [class]="service.class1" *ngFor="let service of services">
  <div [class]="service.class2">
    <img [src]="service.image" [alt]="service.alt">
    <div class="description">
      <h1>{{ service.title }}</h1>
      <p>{{ service.text1 }}</p>
      <p>{{ service.text2 }}</p>
    </div>
  </div>
</div>
<h1 id="formTitle">Start Your Project Today</h1>
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <label for="name">Name</label>
  <input 
    type="text"
    id="name"
    ngModel
    name="name"
    placeholder="John Doe"
    required>
  <label for="email">Email</label>
  <input 
    type="email"
    id="email"
    ngModel
    name="email"
    placeholder="example@gmail.com"
    required>
  <label for="select">Service</label>
  <select id="select">
    <option value="Front-End">Front-End</option>
    <option value="Back-End">Back-End</option>
    <option value="Full Stack">Full Stack</option>
    <option value="Machine Learning">Machine Learning</option>
    <option value="UI/UX">UI/UX</option>
    <option value="Team As A Service">Team As A Service</option>
  </select>
  <label for="message">Message</label>
  <textarea
    id="message"
    ngModel
    name="message"
    cols="30" 
    rows="10"
    placeholder="Message..."></textarea>
  <button type="submit">Submit</button>
</form>