@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
}

:root {
  --bg-color: #292c34;
  --primary-color: #191b1f;
  --accent-color: #ffffff;
  --action-color: #ff5722;
}

body {
  background-color: var(--bg-color);
}