<div id="hero">
  <div id="heroText">
    <h1>For a software driven future</h1>
    <h2>We provide the right software solution</h2>
    <button id="heroBtn" (click)="onScroll()">Discover more</button>
  </div>
</div>

<div id="about" #about>
  <div id="aboutWrapper">
    <img id="aboutImg" src="assets/about-image.jpg" alt="group of people at the table">
    <div id="aboutText">
      <h3 id="aboutHeader">Who We Are</h3>
      <p id="aboutDescription">
        At Future Foundry, we believe in the power of software to shape the future. Our mission is simple: 
        to provide the right software solutions for industries paving the way towards innovation. As an 
        outsourcing platform, we connect industries with the expertise they need, drawing from a diverse 
        pool of talent including full-stack engineers, AI specialists, and more.
      </p>
      <a routerLink="/about-us"><button id="aboutBtn">About Us</button></a>
    </div>
  </div>
</div>